<section class="bg-primary">
  <div class="container about-container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">More About me!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
          Hi! My name is Raphael Hounsell. I'm a brazilian programmer wich loves technology and create cool stuff. Check out what i can do.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>