<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <app-skill [skillName]="'python'"></app-skill>
      <app-skill [skillName]="'java'"></app-skill>
      <app-skill [skillName]="'angularjs'"></app-skill>
      <app-skill [skillName]="'react'"></app-skill>
      <app-skill [skillName]="'linux'"></app-skill>
      <app-skill [skillName]="'docker'"></app-skill>
      <app-skill [skillName]="'android'"></app-skill>
      <app-skill [skillName]="'php'"></app-skill>
      <app-skill [skillName]="'java'"></app-skill>
      <app-skill [skillName]="'postgresql'"></app-skill>
      <app-skill [skillName]="'git'"></app-skill>
      <app-skill [skillName]="'javascript'"></app-skill>
      <app-skill [skillName]="'laravel'"></app-skill>
      <app-skill [skillName]="'nodejs'"></app-skill>
    </div>
  </div>
</section>